<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
    <span class="navSymbol" (click)="openNav()">&#9776;</span>
    <a routerLink="/" class="navbar-brand">Prodago Logo</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="http://placehold.it/150x50?text=Profile" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">LogOut</a>
            </div>
        </li>
    </ul>
</nav>